.clickable-image {
  position: relative;
  top: 80px;
  left: 10px;
  display: inline-block;
  text-decoration: none;
  width: 300px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
}

.clickable-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; /* Optional: rounded corners */
}

.clickable-image span {
  position: absolute;
  top: 80%;
  left: 40%; /* Semi-transparent background */
  color: rgb(231, 212, 162);
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 5px;
}
.clickable-image:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 8px 8px rgba(226, 117, 22, 0.56); /* Shadow effect */
  transition: 400ms ;
}
.clickable-image:hover img {
  filter: brightness(0.9); /* Darkens the image slightly on hover */
}