.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  gap: 20px;
}

.auth-block {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.auth-block h2 {
  margin-bottom: 20px;
}

.auth-block form div {
  margin-bottom: 15px;
}

.auth-block label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.auth-block input {
  width: 100%;
  padding: 6px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-block button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-block button:hover {
  background-color: #0056b3;
}

.toggle-text {
  margin-top: 10px;
  color: #333;
}

.toggle-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.toggle-link:hover {
  color: #0056b3;
}

.image-block {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.main-Logo {
  position: absolute;
  top: 60px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: auto;
}

.main-Logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}