.Container {
  padding: 20px;
  max-width: 1200px;
  justify-items:center ;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .Container {
    padding: 15px;
    width: 95%;
  }
}

@media (max-width: 480px) {
  .Container {
    padding: 10px;
    width: 100%;
  }
}


h2{
  text-align:center;
  color: rgb(184, 144, 0);
}
input {
    margin: 5px;
    padding: 10px;
  }
  
  button {
    margin: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    z-index: 10;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  