.clickable-image {
  position: relative;
  top: 80px;
  left: 30px;
  display: inline-block;
  text-decoration: none;
  width: 300px;
  height: 200px; 
}

.clickable-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.clickable-image span {
  position: absolute;
  top: 80%;
  left: 40%;
  color: rgb(231, 212, 162);
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 5px;
}
.clickable-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 8px rgba(255, 119, 0, 0.56); 
  transition: 400ms ;
}
.clickable-image:hover img {
  filter: brightness(0.9);}
 
.container1{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.clickable-box {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 5%;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 30vw;
  height: 30vh;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  box-sizing: border-box;
}

.clickable-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.clickable-box:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  border-color: #aaa;
  cursor: pointer;
}

.clickable-box p {
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
  text-align: center;
  transition: color 0.3s ease;
}
.clickable-box:hover p{ 
  color:rgb(255, 145, 0);
}

.clickable-link {
  text-decoration: none;
  color: inherit;
}
#amount{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color:#aaa;
  padding-bottom: 5px;
}
.container{
  padding : 2rem;
}
.slider-wrapper{
  position: relative;
  /* max-width: rem; */
  margin: 0 auto;
}
.slider{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type:x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}
.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform:translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color:#fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a hover{
  opacity: 1;
}
