.trending_items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap: 10px; 
  padding: 6%;
}
.clickable-image {
  position: relative;
  display: inline-block;
  text-decoration: none;
  width: 300px;
  height: 400px;
  border: 3px solid rgba(179, 179, 179, 0.56);
  border-radius: 5px;
  background-color: #0d0d0d;
  overflow: hidden;
  margin:5px;
}

.clickable-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.clickable-image span {
  position: absolute;
  display: flex;
  justify-content: center;  
  align-items: center;  
  text-align: center;  
  top: 90%;
  left: 50%;
  width: 80%;  
  height:40%;
  transform: translate(-50%,-50%);
  color: rgb(255, 196, 0);
  border-radius: 5px;
}
.clickable-image:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(255, 140, 0, 0.56); 
  transition: 400ms ;
  border-radius: 10px;;
}
.container1{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.clickable-box {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 5%;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 30vw;
  height: 30vh;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  box-sizing: border-box;
}

.clickable-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.clickable-box:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  border-color: #aaa;
  cursor: pointer;
}

.clickable-box p {
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
  text-align: center;
  transition: color 0.3s ease;
}
.clickable-box:hover p{ 
  color:rgb(255, 145, 0);
}

.clickable-link {
  text-decoration: none;
  color: inherit;
}
#amount{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color:#aaa;
  padding-bottom: 5px;
}
.container{
  padding : 5%;
}
.slider-wrapper{
  position: relative;
  /* max-width: rem; */
  margin: 0 auto;
}
.slider{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type:x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}
.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color:#fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a hover{
  opacity: 1;
}
.new_design{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin:30px 15px 10px 15px;
  gap: 20px;
}
.image-container {
  display: inline-block;
  text-align: center;
  width: 100%; 
}

.image {
  width: 100%;
  height: 80%; 
  display: block;
  margin: 20px;
}

.text-overlay {
  margin-top: 15px;
  color: rgb(96, 96, 96); 
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.text-overlay:hover{
  color:#db6e01;
}
.image-container:hover .image {
  transform: scale(1.1); 
  opacity: 0.8; 
}

.image-container:hover .text-overlay {
  display: block; 
}
.new_design a{
  text-decoration: none;
}