.navbar {
  background-color: #484848;
  color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 200px;
  height: 100%;
}
.navbar > *:first-child {
  margin-top: 40px;
}
.navbar button {
  background-color: #444;
  color: white;
  border: 1px solid #c7c7c7;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
}
  
.navbar button:hover {
  background-color: #555;
}
  